@font-face {
  font-family: "Linux";
  src: url(../../assets/fonts/LinLibertine_R.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Linux";
  src: url(../../assets/fonts/LinLibertine_RZ.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Linux";
  src: url(../../assets/fonts/LinLibertine_RB.ttf);
  font-weight: 700;
}
